<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Add New User</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body class="bg-light">
<div class="container">
  <h1>Add New User</h1>
  <hr>


  <form action="#" th:action="@{/process_register}" th:object="${user}"
        method="POST">
    <input type="text" th:field="*{userName}"
           placeholder="Username" class="form-control mb-4 col-4" required>

    <input type="text" th:field="*{name}"
           placeholder="Name" class="form-control mb-4 col-4" required >

    <input type="password" th:field="*{password}"
           placeholder="Password" class="form-control mb-4 col-4" required >

    <button type="submit" class="btn btn-primary text-white col-2"> Add User</button>
  </form>

  <hr>

  <a th:href = "@{/login}"> Back to User List</a>
</div>
</body>
</html>