<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Users List</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body class="bg-light">

<div class="container my-2">
    <h1>Users List</h1>

    <a th:href = "@{/showNewUserForm}" class="btn btn-primary btn-sm mb-3 text-white"> Add User </a>
    <a th:href = "@{/logout}" class="btn btn-secondary btn-sm mb-3 text-white"> Sign Out </a>

    <table border="3" class = "table table-hover ">
        <thead class="bg-light">
        <tr>
            <th>
                <a>User ID</a>
            </th>
<!--            th:href="@{'/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">-->
            <th>
                <a>Username</a>
            </th>
<!--            th:href="@{'/page/' + ${currentPage} + '?sortField=userName&sortDir=' + ${reverseSortDir}}">-->
            <th>
                <a>Name</a>
            </th>
<!--            th:href="@{'/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">-->
            <th>
                <a> Creation Date</a></th>
<!--            th:href="@{'/page/' + ${currentPage} + '?sortField=createTimeStamp&sortDir=' + ${reverseSortDir}}">-->

            <th> <a>Update Date</a></th>
<!--            th:href="@{'/page/' + ${currentPage} + '?sortField=updateTimeStamp&sortDir=' + ${reverseSortDir}}">-->

            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${listUsers}">
            <td th:text="${user.id}"> User ID</td>
            <td th:text="${user.userName}"> userName</td>
            <td th:text="${user.name}"> Name</td>
            <td th:text="${user.createTimeStamp}"> Creation Timestamp</td>
            <td th:text="${user.updateTimeStamp}"> Update Timestamp</td>
            <td> <a th:href="@{/showFormUpdate/{id}(id=${user.id})}" class="btn btn-primary text-white">Update</a>
                <a th:href="@{/deleteUser/{id}(id=${user.id})}" class="btn btn-danger text-white">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!--<div th:if = "${totalPages > 1}">
        <div class = "row col-sm-10">
            <div class = "col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>
            <div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
            </div>
            <div class = "col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>

            <a th:if="${currentPage > 1}" th:href="@{'/page/' + ${currentPage - 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
            <span th:unless="${currentPage > 1}">Previous</span>


            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>

            </div>
        </div>
    </div>-->
</div>
</body>
</html>